[submodule "flaskr/submodules/RRT"]
	path = flaskr/submodules/RRT
	url = https://github.com/OfekPeres/RRT.git
	branch = main
	ignore = dirty

[submodule "flaskr/submodules/controls_algorithms"]
	path = flaskr/submodules/controls_algorithms
	url = https://github.com/OfekPeres/controls-algorithms.git
	branch = main
	ignore = dirty
[submodule "flaskr/submodules/MappingAlgorithms"]
	path = flaskr/submodules/MappingAlgorithms
	url = https://github.com/OfekPeres/MappingAlgorithms.git
